
.contain{margin: 30px;}
.contain .user-list{width:1180px;margin: 0 auto;}
.contain .user-list li{width:190px;margin:3px;background-color:#f7f7f7 ;color:#555;padding: 24px 50px;text-align: center;float: left;}
.contain .user-list li a{color:#555;}

body{background: #F7F7F7;}
.showcase{display: flex;flex-flow: wrap;width: 1180px;margin: 0px auto;padding-top: 100px;}
.showcase .item{
	flex-grow: 1; padding: 20px;margin-left: 1px;  margin-right: 1px;  margin-bottom: 2px; width: calc(16.666666666666664% - 2px); background-color: #fff;   transition: box-shadow .2s ease-in-out,transform .2s ease-in-out; text-align: center;
}
.showcase .item:hover {
    box-shadow: 0 0 0 2px #fff,0 2px 20px 2px rgba(0,0,0,.03),0 24px 30px 2px rgba(0,0,0,.04);
    transform: translateY(-2px);
    z-index: 1
}
.graph.category.pt{
	background-image: url(../img/svg/1.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt2{
	background-image: url(../img/svg/2.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt3{
	background-image: url(../img/svg/3.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt4{
	background-image: url(../img/svg/4.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt5{
	background-image: url(../img/svg/5.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt6{
	background-image: url(../img/svg/6.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt7{
	background-image: url(../img/svg/7.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt8{
	background-image: url(../img/svg/8.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt9{
	background-image: url(../img/svg/9.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt10{
	background-image: url(../img/svg/10.svg);
    width: 70px;
    height: 70px;
}
.graph.category.pt11{
	background-image: url(../img/svg/11.svg);
    width: 70px;
    height: 70px;
}
.graph{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
}
.name{
	display: block;
    margin-top: 28px;
    letter-spacing: 1px;
    color: #555;
}
